{{{color_definitions}}}

\begin{ThreePartTable}

{{{table_font_size}}}

{{{src_foot_component}}}

{{{heading_component}}}

\setlength{\tabcolsep}{3pt}
\captionsetup[table]{labelformat=empty,skip=3pt, justification=raggedright, width =\textwidth}

{{{table_start}}}
{{{caption}}}

\toprule
{{{columns_component}}}
\endfirsthead
\endhead
\bottomrule
\addlinespace
\insertTableNotes
\endlastfoot
\midrule
{{{body_component}}}
\bottomrule
\end{longtable}
\end{ThreePartTable}
